body{
  margin: 0;
  padding: 0;
}

.left-image {
  min-height: 100vh;
  border: 1px solid;
  border-radius: 10px 0px 0px 10px;
  /* background: #046673; */
  background-image: linear-gradient(#000000f6
  ,#531F85);
  /* background-color: rgb(88 28 135 / var(--tw-bg-opacity)); */
}

.left-box-mange-active {
  border: 1px solid transparent;
  margin: 12px;
  border-radius: 5px;
  padding: 10px;
  /* background: red; */
  color: #fff;
  /* background: #06505d; */
  /* background: #7E22CE; */
  background-image: linear-gradient(#000000f6
  ,#531F85);
 
}

.logout {
  margin-top: 39vh;
}

.left-box-mange {
  /* border: 1px solid; */
  margin: 12px;
  /* border-radius: 5px; */
  padding: 5px;
  color: #fff;

}

.left-box-mange-logout {
  background: red;
  border: 1px solid transparent;
  margin: 12px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.input-content-inside {
  position: relative;
}

.input-content-inside svg {
  position: absolute;
}

svg.over-view-svg {
  margin: auto;
  margin-block: 16px;
}

.link-size {
  color: "#06505d";
  font-size: 10px;
  font-weight: 500;
}

.text-content-over {
  font-size: 13px;
  font-weight: 600;
}

.text-content-over-amount {
  font-size: 13px;
  font-weight: 600;
}

/* @media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
} */